         p{
			     color:#0099bb;
				 margin-left:60px;
				 padding-left:25px;
				 border-left:solid 30px #cc8800;
			  }
			  .pagestyle{
			      width:900px;
				  margin:0 auto;
				  color:#aa2299;
				  font-size:18px;
				  font-family:"Helvetica Neue",Arial,Helvetica,Sans-serif;
			  }